BhashaGuruCode/UserService/obj/project.assets.json
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.CodeAnalysis.Workspaces.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/HelperComponent.pdb
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/HelperComponent.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/EmailSender.pdb
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/EmailSender.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/DataStorage.pdb
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/DataStorage.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/BusinessLayerService.pdb
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/BusinessLayerService.dll
BhashaGuruCode/HelperComponent/obj/Release/netcoreapp2.1/HelperComponent.assets.cache
BhashaGuruCode/HelperComponent/obj/Release/netcoreapp2.1/HelperComponent.AssemblyInfoInputs.cache
BhashaGuruCode/HelperComponent/obj/Release/netcoreapp2.1/HelperComponent.AssemblyInfo.cs
BhashaGuruCode/HelperComponent/obj/HelperComponent.csproj.nuget.g.targets
BhashaGuruCode/HelperComponent/obj/HelperComponent.csproj.nuget.g.props
BhashaGuruCode/HelperComponent/obj/HelperComponent.csproj.nuget.dgspec.json
BhashaGuruCode/HelperComponent/obj/HelperComponent.csproj.nuget.cache
BhashaGuruCode/HelperComponent/obj/Debug/netcoreapp2.1/HelperComponent.pdb
BhashaGuruCode/HelperComponent/obj/Debug/netcoreapp2.1/HelperComponent.dll
BhashaGuruCode/HelperComponent/obj/Debug/netcoreapp2.1/HelperComponent.csprojAssemblyReference.cache
BhashaGuruCode/HelperComponent/obj/Debug/netcoreapp2.1/HelperComponent.csproj.FileListAbsolute.txt
BhashaGuruCode/HelperComponent/obj/Debug/netcoreapp2.1/HelperComponent.csproj.CoreCompileInputs.cache
BhashaGuruCode/HelperComponent/obj/Debug/netcoreapp2.1/HelperComponent.assets.cache
BhashaGuruCode/HelperComponent/obj/Debug/netcoreapp2.1/HelperComponent.AssemblyInfoInputs.cache
BhashaGuruCode/HelperComponent/obj/Debug/netcoreapp2.1/HelperComponent.AssemblyInfo.cs
BhashaGuruCode/HelperComponent/bin/Release/netcoreapp2.1/HelperComponent.pdb
BhashaGuruCode/BhashaGuruApi/obj/Debug/netcoreapp2.1/BhashaGuruApi.AssemblyInfoInputs.cache
BhashaGuruCode/BhashaGuruApi/obj/Debug/netcoreapp2.1/BhashaGuruApi.AssemblyInfo.cs
BhashaGuruCode/BhashaGuruApi/obj/BhashaGuruApi.csproj.nuget.g.targets
BhashaGuruCode/BhashaGuruApi/obj/BhashaGuruApi.csproj.nuget.g.props
BhashaGuruCode/BhashaGuruApi/obj/BhashaGuruApi.csproj.nuget.dgspec.json
BhashaGuruCode/BhashaGuruApi/obj/BhashaGuruApi.csproj.nuget.cache
BhashaGuruCode/BhashaGuruApi/obj/BhashaGuruApi.csproj.EntityFrameworkCore.targets
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/HelperComponent.pdb
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/HelperComponent.dll
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/EmailSender.pdb
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/EmailSender.dll
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/DataStorage.pdb
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/DataStorage.dll
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/BusinessLayerService.pdb
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/BusinessLayerService.dll
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/BhashaguruModel.pdb
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/BhashaguruModel.dll
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/BhashaGuruApi.runtimeconfig.json
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/BhashaGuruApi.runtimeconfig.dev.json
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/BhashaGuruApi.pdb
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/BhashaGuruApi.dll
BhashaGuruCode/BhashaGuruApi/bin/Release/netcoreapp2.1/BhashaGuruApi.deps.json
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/HelperComponent.pdb
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/HelperComponent.dll
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/EmailSender.pdb
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/EmailSender.dll
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/DataStorage.pdb
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/DataStorage.dll
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/BusinessLayerService.pdb
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/BusinessLayerService.dll
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/BhashaguruModel.pdb
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/BhashaguruModel.dll
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/BhashaGuruApi.xml
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/BhashaGuruApi.runtimeconfig.json
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/BhashaGuruApi.runtimeconfig.dev.json
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/BhashaGuruApi.pdb
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/BhashaGuruApi.dll
BhashaGuruCode/BhashaGuruApi/bin/Debug/netcoreapp2.1/BhashaGuruApi.deps.json
BhashaGuruCode/BusinessLayerService/obj/Debug/netcoreapp2.1/BusinessLayerService.dll
BhashaGuruCode/BusinessLayerService/obj/Debug/netcoreapp2.1/BusinessLayerService.csprojAssemblyReference.cache
BhashaGuruCode/BusinessLayerService/obj/Debug/netcoreapp2.1/BusinessLayerService.csproj.FileListAbsolute.txt
BhashaGuruCode/BusinessLayerService/obj/Debug/netcoreapp2.1/BusinessLayerService.csproj.CoreCompileInputs.cache
BhashaGuruCode/BusinessLayerService/obj/Debug/netcoreapp2.1/BusinessLayerService.csproj.CopyComplete
BhashaGuruCode/BusinessLayerService/obj/Debug/netcoreapp2.1/BusinessLayerService.assets.cache
BhashaGuruCode/BusinessLayerService/obj/Debug/netcoreapp2.1/BusinessLayerService.AssemblyInfoInputs.cache
BhashaGuruCode/BusinessLayerService/obj/Debug/netcoreapp2.1/BusinessLayerService.AssemblyInfo.cs
BhashaGuruCode/BusinessLayerService/obj/BusinessLayerService.csproj.nuget.g.targets
BhashaGuruCode/BusinessLayerService/obj/BusinessLayerService.csproj.nuget.g.props
BhashaGuruCode/BusinessLayerService/obj/BusinessLayerService.csproj.nuget.dgspec.json
BhashaGuruCode/BusinessLayerService/obj/BusinessLayerService.csproj.nuget.cache
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/System.IdentityModel.Tokens.Jwt.xml
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/System.IdentityModel.Tokens.Jwt.dll
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/Microsoft.IdentityModel.Tokens.xml
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/Microsoft.IdentityModel.Tokens.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/BhashaguruModel.pdb
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/BhashaguruModel.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/BhashaGuruApi.runtimeconfig.json
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/BhashaGuruApi.pdb
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/BhashaGuruApi.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/BhashaGuruApi.deps.json
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/BhashaGuruApi.SourceManifest.xml
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/BhashaGuruApi.Parameters.xml
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/BhashaGuruApi.pdb
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/BhashaGuruApi.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/BhashaGuruApi.csprojAssemblyReference.cache
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/BhashaGuruApi.csproj.FileListAbsolute.txt
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/BhashaGuruApi.csproj.CoreCompileInputs.cache
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/BhashaGuruApi.csproj.CopyComplete
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/BhashaGuruApi.assets.cache
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/BhashaGuruApi.RazorTargetAssemblyInfo.cache
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/BhashaGuruApi.RazorAssemblyInfo.cs
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/BhashaGuruApi.RazorAssemblyInfo.cache
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/BhashaGuruApi.AssemblyInfoInputs.cache
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/BhashaGuruApi.AssemblyInfo.cs
BhashaGuruCode/BhashaGuruApi/obj/Debug/netcoreapp2.1/UserSecretsAssemblyInfo.cs
BhashaGuruCode/BhashaGuruApi/obj/Debug/netcoreapp2.1/BhashaGuruApi.pdb
BhashaGuruCode/BhashaGuruApi/obj/Debug/netcoreapp2.1/BhashaGuruApi.dll
BhashaGuruCode/BhashaGuruApi/obj/Debug/netcoreapp2.1/BhashaGuruApi.csprojAssemblyReference.cache
BhashaGuruCode/BhashaGuruApi/obj/Debug/netcoreapp2.1/BhashaGuruApi.csproj.FileListAbsolute.txt
BhashaGuruCode/BhashaGuruApi/obj/Debug/netcoreapp2.1/BhashaGuruApi.csproj.CoreCompileInputs.cache
BhashaGuruCode/BhashaGuruApi/obj/Debug/netcoreapp2.1/BhashaGuruApi.csproj.CopyComplete
BhashaGuruCode/BhashaGuruApi/obj/Debug/netcoreapp2.1/BhashaGuruApi.assets.cache
BhashaGuruCode/BhashaGuruApi/obj/Debug/netcoreapp2.1/BhashaGuruApi.RazorTargetAssemblyInfo.cache
BhashaGuruCode/BhashaGuruApi/obj/Debug/netcoreapp2.1/BhashaGuruApi.RazorAssemblyInfo.cs
BhashaGuruCode/BhashaGuruApi/obj/Debug/netcoreapp2.1/BhashaGuruApi.RazorAssemblyInfo.cache
BhashaGuruCode/UserService/obj/UserService.csproj.nuget.g.targets
BhashaGuruCode/UserService/obj/UserService.csproj.nuget.g.props
BhashaGuruCode/UserService/obj/UserService.csproj.nuget.dgspec.json
BhashaGuruCode/UserService/obj/UserService.csproj.nuget.cache
BhashaGuruCode/UserService/obj/Debug/netcoreapp2.1/UserService.csprojAssemblyReference.cache
BhashaGuruCode/UserService/obj/Debug/netcoreapp2.1/UserService.csproj.CoreCompileInputs.cache
BhashaGuruCode/UserService/obj/Debug/netcoreapp2.1/UserService.assets.cache
BhashaGuruCode/UserService/obj/Debug/netcoreapp2.1/UserService.AssemblyInfoInputs.cache
BhashaGuruCode/UserService/obj/Debug/netcoreapp2.1/UserService.AssemblyInfo.cs
BhashaGuruCode/RepositoryService/obj/project.assets.json
BhashaGuruCode/RepositoryService/obj/RepositoryService.csproj.nuget.g.targets
BhashaGuruCode/RepositoryService/obj/RepositoryService.csproj.nuget.g.props
BhashaGuruCode/RepositoryService/obj/RepositoryService.csproj.nuget.dgspec.json
BhashaGuruCode/RepositoryService/obj/RepositoryService.csproj.nuget.cache
BhashaGuruCode/RepositoryService/obj/Debug/netcoreapp2.1/RepositoryService.pdb
BhashaGuruCode/BhashaguruModel/obj/Release/netcoreapp2.1/BhashaguruModel.pdb
BhashaGuruCode/BhashaguruModel/obj/Release/netcoreapp2.1/BhashaguruModel.dll
BhashaGuruCode/BhashaguruModel/obj/Release/netcoreapp2.1/BhashaguruModel.csprojAssemblyReference.cache
BhashaGuruCode/BhashaguruModel/obj/Release/netcoreapp2.1/BhashaguruModel.csproj.FileListAbsolute.txt
BhashaGuruCode/BhashaguruModel/obj/Release/netcoreapp2.1/BhashaguruModel.csproj.CoreCompileInputs.cache
BhashaGuruCode/BhashaguruModel/obj/Release/netcoreapp2.1/BhashaguruModel.assets.cache
BhashaGuruCode/BhashaguruModel/obj/Release/netcoreapp2.1/BhashaguruModel.AssemblyInfoInputs.cache
BhashaGuruCode/BhashaguruModel/obj/Release/netcoreapp2.1/BhashaguruModel.AssemblyInfo.cs
BhashaGuruCode/BhashaguruModel/obj/Debug/netcoreapp2.1/BhashaguruModel.pdb
BhashaGuruCode/BhashaguruModel/obj/Debug/netcoreapp2.1/BhashaguruModel.dll
BhashaGuruCode/BhashaguruModel/obj/Debug/netcoreapp2.1/BhashaguruModel.csprojAssemblyReference.cache
BhashaGuruCode/BhashaguruModel/obj/Debug/netcoreapp2.1/BhashaguruModel.csproj.FileListAbsolute.txt
BhashaGuruCode/BhashaguruModel/obj/Debug/netcoreapp2.1/BhashaguruModel.csproj.CoreCompileInputs.cache
BhashaGuruCode/BhashaguruModel/obj/Debug/netcoreapp2.1/BhashaguruModel.assets.cache
BhashaGuruCode/BhashaguruModel/obj/Debug/netcoreapp2.1/BhashaguruModel.AssemblyInfoInputs.cache
BhashaGuruCode/BhashaguruModel/obj/Debug/netcoreapp2.1/BhashaguruModel.AssemblyInfo.cs
BhashaGuruCode/BhashaguruModel/obj/BhashaguruModel.csproj.nuget.g.targets
BhashaGuruCode/BhashaguruModel/obj/BhashaguruModel.csproj.nuget.g.props
BhashaGuruCode/BhashaguruModel/obj/BhashaguruModel.csproj.nuget.dgspec.json
BhashaGuruCode/BhashaguruModel/obj/BhashaguruModel.csproj.nuget.cache
BhashaGuruCode/BhashaguruModel/bin/Release/netcoreapp2.1/BhashaguruModel.pdb
BhashaGuruCode/BhashaguruModel/bin/Release/netcoreapp2.1/BhashaguruModel.dll
BhashaGuruCode/BhashaguruModel/bin/Release/netcoreapp2.1/BhashaguruModel.deps.json
BhashaGuruCode/BhashaguruModel/bin/Debug/netcoreapp2.1/BhashaguruModel.pdb
BhashaGuruCode/BhashaguruModel/bin/Debug/netcoreapp2.1/BhashaguruModel.dll
BhashaGuruCode/BhashaguruModel/bin/Debug/netcoreapp2.1/BhashaguruModel.deps.json
BhashaGuruCode/BhashaGuruApi/obj/project.assets.json
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/UserSecretsAssemblyInfo.cs
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/web.config
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/dotnet-aspnet-codegenerator-design.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/appsettings.json
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/appsettings.Development.json
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/System.Web.Http.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/System.Net.Http.Formatting.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/System.Composition.TypedParts.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/System.Composition.Runtime.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/System.Composition.Hosting.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/System.Composition.Convention.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/System.Composition.AttributedModel.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/Swashbuckle.AspNetCore.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerUI.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerGen.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/Swashbuckle.AspNetCore.Swagger.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/SendGrid.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/NuGet.Frameworks.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.WindowsAzure.Storage.dll
BhashaGuruCode/BhashaGuruApi/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
BhashaGuruCode/RepositoryService/obj/Debug/netcoreapp2.1/RepositoryService.dll
BhashaGuruCode/RepositoryService/obj/Debug/netcoreapp2.1/RepositoryService.csprojAssemblyReference.cache
BhashaGuruCode/RepositoryService/obj/Debug/netcoreapp2.1/RepositoryService.csproj.FileListAbsolute.txt
BhashaGuruCode/RepositoryService/obj/Debug/netcoreapp2.1/RepositoryService.csproj.CoreCompileInputs.cache
BhashaGuruCode/RepositoryService/obj/Debug/netcoreapp2.1/RepositoryService.assets.cache
BhashaGuruCode/RepositoryService/obj/Debug/netcoreapp2.1/RepositoryService.AssemblyInfoInputs.cache
BhashaGuruCode/RepositoryService/obj/Debug/netcoreapp2.1/RepositoryService.AssemblyInfo.cs
BhashaGuruCode/RepositoryService/bin/Debug/netcoreapp2.1/RepositoryService.pdb
BhashaGuruCode/RepositoryService/bin/Debug/netcoreapp2.1/RepositoryService.dll
BhashaGuruCode/RepositoryService/bin/Debug/netcoreapp2.1/RepositoryService.deps.json
BhashaGuruCode/HelperComponent/obj/project.assets.json
BhashaGuruCode/HelperComponent/obj/Release/netcoreapp2.1/HelperComponent.pdb
BhashaGuruCode/HelperComponent/obj/Release/netcoreapp2.1/HelperComponent.dll
BhashaGuruCode/HelperComponent/obj/Release/netcoreapp2.1/HelperComponent.csprojAssemblyReference.cache
BhashaGuruCode/HelperComponent/obj/Release/netcoreapp2.1/HelperComponent.csproj.FileListAbsolute.txt
BhashaGuruCode/HelperComponent/obj/Release/netcoreapp2.1/HelperComponent.csproj.CoreCompileInputs.cache
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/Microsoft.Extensions.Configuration.Abstractions.xml
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/Microsoft.Extensions.Configuration.Abstractions.dll
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/HelperComponent.pdb
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/HelperComponent.dll
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/EmailSender.pdb
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/EmailSender.dll
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/DataStorage.pdb
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/DataStorage.dll
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/BusinessLayerService.pdb
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/BusinessLayerService.dll
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/BusinessLayerService.deps.json
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/BhashaguruModel.pdb
BhashaGuruCode/BusinessLayerService/bin/Release/netcoreapp2.1/BhashaguruModel.dll
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/System.IdentityModel.Tokens.Jwt.xml
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/System.IdentityModel.Tokens.Jwt.dll
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/Microsoft.IdentityModel.Tokens.xml
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/Microsoft.IdentityModel.Tokens.dll
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/Microsoft.Extensions.Configuration.Abstractions.xml
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/Microsoft.Extensions.Configuration.Abstractions.dll
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/HelperComponent.pdb
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/HelperComponent.dll
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/EmailSender.pdb
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/EmailSender.dll
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/DataStorage.pdb
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/DataStorage.dll
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/BusinessLayerService.pdb
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/BusinessLayerService.dll
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/BusinessLayerService.deps.json
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/BhashaguruModel.pdb
BhashaGuruCode/BusinessLayerService/bin/Debug/netcoreapp2.1/BhashaguruModel.dll
BhashaGuruCode/BhashaguruModel/obj/project.assets.json
BhashaGuruCode/DataStorage/obj/Release/netcoreapp2.1/DataStorage.AssemblyInfo.cs
BhashaGuruCode/DataStorage/obj/Debug/netcoreapp2.1/DataStorage.pdb
BhashaGuruCode/DataStorage/obj/Debug/netcoreapp2.1/DataStorage.dll
BhashaGuruCode/DataStorage/obj/Debug/netcoreapp2.1/DataStorage.csprojAssemblyReference.cache
BhashaGuruCode/DataStorage/obj/Debug/netcoreapp2.1/DataStorage.csproj.FileListAbsolute.txt
BhashaGuruCode/DataStorage/obj/Debug/netcoreapp2.1/DataStorage.csproj.CoreCompileInputs.cache
BhashaGuruCode/DataStorage/obj/Debug/netcoreapp2.1/DataStorage.csproj.CopyComplete
BhashaGuruCode/DataStorage/obj/Debug/netcoreapp2.1/DataStorage.assets.cache
BhashaGuruCode/DataStorage/obj/Debug/netcoreapp2.1/DataStorage.AssemblyInfoInputs.cache
BhashaGuruCode/DataStorage/obj/Debug/netcoreapp2.1/DataStorage.AssemblyInfo.cs
BhashaGuruCode/DataStorage/obj/DataStorage.csproj.nuget.g.targets
BhashaGuruCode/DataStorage/obj/DataStorage.csproj.nuget.g.props
BhashaGuruCode/DataStorage/obj/DataStorage.csproj.nuget.dgspec.json
BhashaGuruCode/DataStorage/obj/DataStorage.csproj.nuget.cache
BhashaGuruCode/DataStorage/bin/Release/netcoreapp2.1/Microsoft.Extensions.Configuration.Abstractions.xml
BhashaGuruCode/DataStorage/bin/Release/netcoreapp2.1/Microsoft.Extensions.Configuration.Abstractions.dll
BhashaGuruCode/DataStorage/bin/Release/netcoreapp2.1/HelperComponent.pdb
BhashaGuruCode/DataStorage/bin/Release/netcoreapp2.1/HelperComponent.dll
BhashaGuruCode/DataStorage/bin/Release/netcoreapp2.1/EmailSender.pdb
BhashaGuruCode/DataStorage/bin/Release/netcoreapp2.1/EmailSender.dll
BhashaGuruCode/DataStorage/bin/Release/netcoreapp2.1/DataStorage.pdb
BhashaGuruCode/DataStorage/bin/Release/netcoreapp2.1/DataStorage.dll
BhashaGuruCode/DataStorage/bin/Release/netcoreapp2.1/DataStorage.deps.json
BhashaGuruCode/DataStorage/bin/Release/netcoreapp2.1/BhashaguruModel.pdb
BhashaGuruCode/DataStorage/bin/Release/netcoreapp2.1/BhashaguruModel.dll
BhashaGuruCode/DataStorage/bin/Debug/netcoreapp2.1/Microsoft.Extensions.Configuration.Abstractions.xml
BhashaGuruCode/DataStorage/bin/Debug/netcoreapp2.1/Microsoft.Extensions.Configuration.Abstractions.dll
BhashaGuruCode/DataStorage/bin/Debug/netcoreapp2.1/HelperComponent.pdb
BhashaGuruCode/DataStorage/bin/Debug/netcoreapp2.1/HelperComponent.dll
BhashaGuruCode/DataStorage/bin/Debug/netcoreapp2.1/EmailSender.pdb
BhashaGuruCode/DataStorage/bin/Debug/netcoreapp2.1/EmailSender.dll
BhashaGuruCode/DataStorage/bin/Debug/netcoreapp2.1/DataStorage.pdb
BhashaGuruCode/DataStorage/bin/Debug/netcoreapp2.1/DataStorage.dll
BhashaGuruCode/DataStorage/bin/Debug/netcoreapp2.1/DataStorage.deps.json
BhashaGuruCode/DataStorage/bin/Debug/netcoreapp2.1/BhashaguruModel.pdb
BhashaGuruCode/DataStorage/bin/Debug/netcoreapp2.1/BhashaguruModel.dll
BhashaGuruCode/BusinessLayerService/obj/project.assets.json
BhashaGuruCode/BusinessLayerService/obj/Release/netcoreapp2.1/BusinessLayerService.pdb
BhashaGuruCode/BusinessLayerService/obj/Release/netcoreapp2.1/BusinessLayerService.dll
BhashaGuruCode/BusinessLayerService/obj/Release/netcoreapp2.1/BusinessLayerService.csprojAssemblyReference.cache
BhashaGuruCode/BusinessLayerService/obj/Release/netcoreapp2.1/BusinessLayerService.csproj.FileListAbsolute.txt
BhashaGuruCode/BusinessLayerService/obj/Release/netcoreapp2.1/BusinessLayerService.csproj.CoreCompileInputs.cache
BhashaGuruCode/BusinessLayerService/obj/Release/netcoreapp2.1/BusinessLayerService.csproj.CopyComplete
BhashaGuruCode/BusinessLayerService/obj/Release/netcoreapp2.1/BusinessLayerService.assets.cache
BhashaGuruCode/BusinessLayerService/obj/Release/netcoreapp2.1/BusinessLayerService.AssemblyInfoInputs.cache
BhashaGuruCode/BusinessLayerService/obj/Release/netcoreapp2.1/BusinessLayerService.AssemblyInfo.cs
BhashaGuruCode/BusinessLayerService/obj/Debug/netcoreapp2.1/BusinessLayerService.pdb
BhashaGuruCode/HelperComponent/bin/Release/netcoreapp2.1/HelperComponent.dll
BhashaGuruCode/HelperComponent/bin/Release/netcoreapp2.1/HelperComponent.deps.json
BhashaGuruCode/HelperComponent/bin/Debug/netcoreapp2.1/HelperComponent.pdb
BhashaGuruCode/HelperComponent/bin/Debug/netcoreapp2.1/HelperComponent.dll
BhashaGuruCode/HelperComponent/bin/Debug/netcoreapp2.1/HelperComponent.deps.json
BhashaGuruCode/EmailSender/obj/project.assets.json
BhashaGuruCode/EmailSender/obj/Release/netcoreapp2.1/EmailSender.pdb
BhashaGuruCode/EmailSender/obj/Release/netcoreapp2.1/EmailSender.dll
BhashaGuruCode/EmailSender/obj/Release/netcoreapp2.1/EmailSender.csprojAssemblyReference.cache
BhashaGuruCode/EmailSender/obj/Release/netcoreapp2.1/EmailSender.csproj.FileListAbsolute.txt
BhashaGuruCode/EmailSender/obj/Release/netcoreapp2.1/EmailSender.csproj.CoreCompileInputs.cache
BhashaGuruCode/EmailSender/obj/Release/netcoreapp2.1/EmailSender.csproj.CopyComplete
BhashaGuruCode/EmailSender/obj/Release/netcoreapp2.1/EmailSender.assets.cache
BhashaGuruCode/EmailSender/obj/Release/netcoreapp2.1/EmailSender.AssemblyInfoInputs.cache
BhashaGuruCode/EmailSender/obj/Release/netcoreapp2.1/EmailSender.AssemblyInfo.cs
BhashaGuruCode/EmailSender/obj/EmailSender.csproj.nuget.g.targets
BhashaGuruCode/EmailSender/obj/EmailSender.csproj.nuget.g.props
BhashaGuruCode/EmailSender/obj/EmailSender.csproj.nuget.dgspec.json
BhashaGuruCode/EmailSender/obj/EmailSender.csproj.nuget.cache
BhashaGuruCode/EmailSender/obj/Debug/netcoreapp2.1/EmailSender.pdb
BhashaGuruCode/EmailSender/obj/Debug/netcoreapp2.1/EmailSender.dll
BhashaGuruCode/EmailSender/obj/Debug/netcoreapp2.1/EmailSender.csprojAssemblyReference.cache
BhashaGuruCode/EmailSender/obj/Debug/netcoreapp2.1/EmailSender.csproj.FileListAbsolute.txt
BhashaGuruCode/EmailSender/obj/Debug/netcoreapp2.1/EmailSender.csproj.CoreCompileInputs.cache
BhashaGuruCode/EmailSender/obj/Debug/netcoreapp2.1/EmailSender.csproj.CopyComplete
BhashaGuruCode/EmailSender/obj/Debug/netcoreapp2.1/EmailSender.assets.cache
BhashaGuruCode/EmailSender/obj/Debug/netcoreapp2.1/EmailSender.AssemblyInfoInputs.cache
BhashaGuruCode/EmailSender/obj/Debug/netcoreapp2.1/EmailSender.AssemblyInfo.cs
BhashaGuruCode/EmailSender/bin/Release/netcoreapp2.1/Microsoft.Extensions.Configuration.Abstractions.xml
BhashaGuruCode/EmailSender/bin/Release/netcoreapp2.1/Microsoft.Extensions.Configuration.Abstractions.dll
BhashaGuruCode/EmailSender/bin/Release/netcoreapp2.1/EmailSender.pdb
BhashaGuruCode/EmailSender/bin/Release/netcoreapp2.1/EmailSender.dll
BhashaGuruCode/EmailSender/bin/Release/netcoreapp2.1/EmailSender.deps.json
BhashaGuruCode/EmailSender/bin/Debug/netcoreapp2.1/Microsoft.Extensions.Configuration.Abstractions.xml
BhashaGuruCode/EmailSender/bin/Debug/netcoreapp2.1/Microsoft.Extensions.Configuration.Abstractions.dll
BhashaGuruCode/EmailSender/bin/Debug/netcoreapp2.1/EmailSender.pdb
BhashaGuruCode/EmailSender/bin/Debug/netcoreapp2.1/EmailSender.dll
BhashaGuruCode/EmailSender/bin/Debug/netcoreapp2.1/EmailSender.deps.json
BhashaGuruCode/DataStorage/obj/project.assets.json
BhashaGuruCode/DataStorage/obj/Release/netcoreapp2.1/DataStorage.pdb
BhashaGuruCode/DataStorage/obj/Release/netcoreapp2.1/DataStorage.dll
BhashaGuruCode/DataStorage/obj/Release/netcoreapp2.1/DataStorage.csprojAssemblyReference.cache
BhashaGuruCode/DataStorage/obj/Release/netcoreapp2.1/DataStorage.csproj.FileListAbsolute.txt
BhashaGuruCode/DataStorage/obj/Release/netcoreapp2.1/DataStorage.csproj.CoreCompileInputs.cache
BhashaGuruCode/DataStorage/obj/Release/netcoreapp2.1/DataStorage.csproj.CopyComplete
BhashaGuruCode/DataStorage/obj/Release/netcoreapp2.1/DataStorage.assets.cache
BhashaGuruCode/DataStorage/obj/Release/netcoreapp2.1/DataStorage.AssemblyInfoInputs.cache
